
@font-face {
    font-family: 'satoshi';
    src: local('MyFont'), url(./fonts/Fonts/OTF/Satoshi-Regular.otf) format('woff');
    
  }
  @font-face {
    font-family: 'SatoshiBold';
    src: local('MyFont'), url(./fonts/Fonts/OTF/Satoshi-Medium.otf) format('woff');
    
  }
  @font-face {
    font-family: 'SatoshiBolder';
    src: local('MyFont'), url(./fonts/Fonts/OTF/Satoshi-Bold.otf) format('woff');
    
  }
body {
    font-family: 'satoshi' !important;
  }
  

  @media screen and (max-width: 650px) {
  
    .savings-box{
       display: flex;
       flex-direction: column !important;
    }
  }
  
    .hover-underline {
      position: relative;
      text-decoration: none;
      color: #5B2E4F;
    }
  
    .hover-underline::before {
      content: "";
      position: absolute;
      left: 0;
      right: 100%;
      bottom: -2px;
      height: 2px;
      background-color: #5B2E4F;
      transition: right 1s ease-out;
    }
  
    .hover-underline:hover::before {
      right: 0;
    }

    a{
      border: none !important;
    }

  a:focus {
    outline: none;
  }